<div class="homepage">
    <div>
        <img src="/images/beer.png" class="homepageimage">
    </div>
    <div class="links">
        <a href="/beers" class="linkbutton">Check the Beers!</a>
        <a href="/random-beers" class="linkbutton">Check a Random Beer</a>
    </div>
</div>